<div class="container d-flex flex-column align-items-center rounded footer-bg">
    <!-- <h3 class="text-center dev-name mt-2">Contact Developer</h3> -->
    <div class="row w-100">
      
      <div class="col-md-5 mt-2 d-flex flex-column align-items-md-start align-items-center justify-content-center">
        <div class="align-items-center justify-content-center d-flex flex-column">
          <h1 class="dev-name mb-0">Get</h1>
          <h3 class="dev-name mb-0">In</h3>
          <h3 class="dev-name">Touch</h3>
        </div>
        
        <div style="margin-bottom: 16px;">
        <a href="https://instagram.com/YOUR_USERNAME" target="_blank" title="Instagram" class="me-2 ms-2">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://t.me/YOUR_USERNAME" target="_blank" title="Telegram" class="me-2">
          <i class="fab fa-telegram fa-2x"></i>
        </a>
        <a href="mailto:yourmail@example.com" target="_blank" title="Gmail" class="me-2">
          <i class="fas fa-envelope fa-2x"></i>
        </a>
      </div>
      </div>
      <div class="col-md-5 ms-auto">
        <!-- <h3 class="dev-name mt-2 ">Get in touch</h3> -->
        <p class="p-0 m-0 sketch mt-2" style="text-align: justify;">This website is designed and developed by Chandrakantha H P, a passionate web developer
          committed to creating clean, responsive, and user-friendly websites.</p>
          <br>
        <p class="p-0 m-0 sketch">I promise I’m friendly, soooo...You can look at me <span><a href="https://chandrakanthahpweb.vercel.app/" target="_blank">👉 Here 👈</a></span></p>
        <br>
        <p class="sketch">Designed and Developed with ❤️ by Chandrakantha H P</p>
        
      </div>
    </div>
    
    <!-- <div class="d-flex justify-content-center gap-4 mt-3">
      <a href="https://instagram.com/YOUR_USERNAME" target="_blank" title="Instagram">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
      <a href="https://t.me/YOUR_USERNAME" target="_blank" title="Telegram">
        <i class="fab fa-telegram fa-2x"></i>
      </a>
      <a href="mailto:yourmail@example.com" target="_blank" title="Gmail">
        <i class="fas fa-envelope fa-2x"></i>
      </a>
    </div> -->
    <!-- <p>All rights reserved</p> -->
     <!-- <br>
    <p style="margin-bottom: 0;padding-bottom: 0;">Made with ❤️ by</p>
    <span class="dev-name">Chandrakantha H P</span> -->
  </div>
  <br>
  