<div class="container d-flex justify-content-center vh-100">
  <div style="width: 95%">
    <div style="width: 100%" class="div-bg">
      <app-navbar></app-navbar>
    </div>
    <div class="container div-bg text-center rounded-bottom">
      <!-- <h1 class="brand-name">Dr. Venkatesha</h1> -->
      <p style="text-align: justify">
        Dr. Venkatesh believes in empowering his patients by effectively communicating with them and caring about them with compassion which makes them an active participant in all the process of improving their ear, nose and throat health. He focuses on diagnosing and treating disorders of the ear, nose, throat, head and neck. It can be loss of hearing, sinus issues, throat ailments, or voice issues; Dr. Venkatesh comes with a heart and a skill to every consultation.
      </p>
    </div>
    <div>
      <h2>Education</h2>
      <div class="card h-100 border-success">
        <div class="card-body">
          <h5 class="card-title">MBBS, SDUMC Kolar</h5>
          <p class="card-text">
            Sri Devaraj Urs Academy of Higher Education and Research ...
          </p>
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#medicalSchool"
          >
            Learn More
          </button>
        </div>
      </div>
      <br />
      <div class="card h-100 border-success">
        <div class="card-body">
          <h5 class="card-title">MS(ENT-HNS), Bangalore Medical College and Research Institute (BMCRI)</h5>
          <p class="card-text">
            Bangalore Medical College and Research Institute (BMCRI) ...
          </p>
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#postGraduation"
          >
            Learn More
          </button>
        </div>
      </div>
      <!-- modal -->
      <div
        class="modal fade"
        id="medicalSchool"
        tabindex="-1"
        aria-labelledby="medicalSchoolLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="medicalSchoolLabel">MBBS, SDUMC Kolar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Sri Devaraj Urs Academy of Higher Education and Research, formerly Sri Devaraj Urs University, is a deemed university located in Kolar, Karnataka, India. It was established as Sri Devaraj Urs Medical College in 1986 by the Sri Devaraj Urs Educational Trust. It was conferred deemed-to-be-university status under Section 3 of UGC Act 1956 on 25 May 2007.
            </div>
            <div class="text-center">
              <a href="https://en.wikipedia.org/wiki/Sri_Devaraj_Urs_Academy_of_Higher_Education_and_Research"><button class="btn btn-outline-success w-25 mb-2">Know More</button></a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="postGraduation"
        tabindex="-1"
        aria-labelledby="postGraduationLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="postGraduationLabel">MS(ENT-HNS), Bangalore Medical College and Research Institute (BMCRI)</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Bangalore Medical College and Research Institute (BMCRI), (Beṅgaḷūru Vaidyakīya Mahāvidyālaya mattu Sanśōdhanā Sansthé) formerly Bangalore Medical College (BMC), is a medical college in Bengaluru, India run by the Government of Karnataka. It is on K.R. Road, near City Market. It is one of ten government medical colleges in Karnataka. BMCRI is an autonomous institution under the Rajiv Gandhi University of Health Sciences, Bengaluru.
            </div>
            <div class="text-center">
              <a href="https://en.wikipedia.org/wiki/Bangalore_Medical_College_and_Research_Institute"><button class="btn btn-outline-success w-25 mb-2">Know More</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr>
      <h2>Certifications</h2>
      <div class="card h-100 border-success">
        <div class="card-body">
          <h5 class="card-title">Post Graduation</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          </p>
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#certificate1"
          >
            Learn More
          </button>
        </div>
      </div><br>
      <div class="card h-100 border-success">
        <div class="card-body">
          <h5 class="card-title">Post Graduation</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          </p>
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#certificate2"
          >
            Learn More
          </button>
        </div>
      </div> -->
      <!-- modal -->
      <!-- <div
      class="modal fade"
      id="certificate1"
      tabindex="-1"
      aria-labelledby="medicalSchoolLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="medicalSchoolLabel">Medical School</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Detailed information about chronic diseases goes here...
          </div>
          <div class="text-center">
            <a href=""><button class="btn btn-outline-success w-25">Know More</button></a>
          </div>
        </div>
      </div>
    </div>

    <div
        class="modal fade"
        id="certificate"
        tabindex="-1"
        aria-labelledby="medicalSchoolLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="medicalSchoolLabel">Medical School</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Detailed information about chronic diseases goes here...
            </div>
            <div class="text-center">
              <a href=""><button class="btn btn-outline-success w-25">Know More</button></a>
            </div>
          </div>
        </div>
      </div> -->
      <hr>
      <!-- <h2>Experience</h2> -->
    </div>
    <app-footer></app-footer>
  </div>
  
</div>
