<div class="container d-flex justify-content-center vh-100">
  <div style="width: 95%">
    <div style="width: 100%" class="div-bg">
      <app-navbar></app-navbar>
    </div>
    <div class="container div-bg text-center rounded-bottom">
      <!-- <h1 class="brand-name">Dr. Venkatesha</h1> -->
      <p style="text-align: justify">
        Dr. Venkatesh believes in empowering his patients through clear
        communication and compassionate care, ensuring they are active partners
        in every step of their journey toward better ear, nose, and throat
        health. He specializes in the diagnosis and treatment of conditions
        related to the ear, nose, throat, head, and neck. Whether it’s hearing
        loss, sinus problems, throat infections, or voice disorders, Dr.
        Venkatesh brings both compassion and expertise to each consultation.
      </p>
    </div>
    <div>
      <h2>Education</h2>
      <div class="card h-100 border-success">
        <div class="card-body">
          <h5 class="card-title">Medical School</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          </p>
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#medicalSchool"
          >
            Learn More
          </button>
        </div>
      </div>
      <br />
      <div class="card h-100 border-success">
        <div class="card-body">
          <h5 class="card-title">Post Graduation</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          </p>
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#postGraduation"
          >
            Learn More
          </button>
        </div>
      </div>
      <!-- modal -->
      <div
        class="modal fade"
        id="medicalSchool"
        tabindex="-1"
        aria-labelledby="medicalSchoolLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="medicalSchoolLabel">Medical School</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Detailed information about chronic diseases goes here...
            </div>
            <div class="text-center">
              <a href="https://cssgradient.io/swatches/"><button class="btn btn-outline-success w-25">Know More</button></a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="postGraduation"
        tabindex="-1"
        aria-labelledby="postGraduationLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="postGraduationLabel">Post Graduation</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Detailed information about chronic diseases goes here...
            </div>
            <div class="text-center">
              <a href="https://cssgradient.io/swatches/"><button class="btn btn-outline-success w-25">Know More</button></a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h2>Certifications</h2>
      <div class="card h-100 border-success">
        <div class="card-body">
          <h5 class="card-title">Post Graduation</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          </p>
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#postGraduation"
          >
            Learn More
          </button>
        </div>
      </div><br>
      <div class="card h-100 border-success">
        <div class="card-body">
          <h5 class="card-title">Post Graduation</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit...
          </p>
          <button
            class="btn btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#postGraduation"
          >
            Learn More
          </button>
        </div>
      </div>
      <!-- modal -->
      <div
      class="modal fade"
      id="medicalSchool"
      tabindex="-1"
      aria-labelledby="medicalSchoolLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="medicalSchoolLabel">Medical School</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Detailed information about chronic diseases goes here...
          </div>
          <div class="text-center">
            <a href="https://cssgradient.io/swatches/"><button class="btn btn-outline-success w-25">Know More</button></a>
          </div>
        </div>
      </div>
    </div>

    <div
        class="modal fade"
        id="medicalSchool"
        tabindex="-1"
        aria-labelledby="medicalSchoolLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="medicalSchoolLabel">Medical School</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Detailed information about chronic diseases goes here...
            </div>
            <div class="text-center">
              <a href="https://cssgradient.io/swatches/"><button class="btn btn-outline-success w-25">Know More</button></a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h2>Experience</h2>
    </div>
    <app-footer></app-footer>
  </div>
  
</div>
