
<nav class="navbar navbar-expand-lg navbar-light div-bg sticky-top">
  <div class="container">
    <!-- Brand / Logo -->
    <a class="navbar-brand brand-name" href="#">Dr.Venkatesh</a>

    <!-- Toggler for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="['about']" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="['appointments']" href="appointments">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
     routerLink="['home']" href="/home#contact-li"
     fragment="contact-li">
     Contact
  </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
